* {
    margin: 0;
    padding: 0;
    font-family: 'Wix Madefor Display', sans-serif;
}
html{ scroll-behavior: smooth;}


body {
    /* background-color: rgb(0, 0, 33); */
    background-color: rgb(6, 6, 42);
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(8, 8, 62);
    height: 80px;
}

nav ul {
    display: flex;
    justify-content: center
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

 nav ul li a:hover {

    color: blue;
    font-size: 1.2rem;

}

.left h1::first-letter {
    color: blue;
    font-size: 200%;
}

.left h1 {
    font-size: 1.6rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    margin: 100px 0;
}

.leftSection {
    font-size: 1rem;

}

hr {
    margin: 20px;
    border: 0;
    background: rgb(11, 11, 97);
    height: 1px;

    width: 100%
}

.rightSection {
    /* background-color: red; */
}

.portfolio {
    height: 400px;
    width: 350px;
    border-radius: 35px;

}

.firstSection>div {
    width: 30%;
}

.leftSection {
    padding-left: 80px;
    font-size: 2rem;
    margin: 70px 0;
    align-items: center;
}

.purple {
    color: blueviolet;
}

#element {
    color: blueviolet;
}

.secondSection {
    padding-right: 20px;
    max-width: 80vw;
    /* margin: auto; */
}.secondSection .h22{
  
    padding-left: 142px;
}

.secondSection .h22::first-letter {
    color: blue;
    font-size: 50px;
    /* font-size: 200%; */
}

h2 {
    font-size: 30px;
}

/* secondsection */
.cardlist {
    /* height: 200px;
    width: 380px;
    */
  
    background-color: red;
}

.Project1 {
    height: 200px;
    width: 200px;
}
.project-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1e2a3e;
    padding: 100px 0;
}


.project-section h1{
    color: #fff;
    margin-bottom: 20px;
    font-size: 2rem;
 
}.projecth1::first-letter{
    color: blue;
    font-size: 200%;
  
}
 .projecth1{
  position: relative;
  padding-right: 890px;
} 



.project-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 0 20px;
}


.project-card{
    box-shadow: 0px 0px 0px red;
    background:  rgb(109, 109, 114);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.project-card img{
    width: 300px;
    height: 200px;
}

/* .project-card h1{
    color: black;
} */
.download-button {
    display: inline-block;
    background-color: violet; /* Blue background */
    border: none;  /* Remove borders */
    color: white;  /* White text */
    text-align: center;
    cursor: pointer;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
  }
  
 .hire{
    margin-top: 20px;
  }
  

.show-case a{
    font-size: 1.6rem;
    margin:0 10px;
}.btn {
   padding: 10px 13px 10px 13px;
   background-color:  rgb(49, 5, 90);
   border: none;
   cursor: pointer;
   color: #fff;
   border-radius: 10px;
   
  }.btnn{
    padding: 10px 10px 10px 10px;
    background-color: rgb(49, 5, 90);
    border: none;
    /* margin-left: 20px; */
    cursor: pointer;
    color: #fff;
    border-radius: 10px;
  }.show-case{
   column-gap: 20px;
  }.project-card:hover{
 transition: 3s;
  }
  
  
  .loader {
    /* border: 2px solid red; */
    display: inline-block;
    position: relative; 
    width: 5%;
    height: 5%;
    transform: rotate(45deg);
    transform-origin: 40px 40px;
    left: 740px;
    top: -35px;
   }
   
   .loader div {
    /* top: 32px;
    left: 32px; */
    position: absolute;
    width: 15px;
    height: 15px;
    background: red;
    animation: loader45 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
   }
   
   .loader div:after,
   .loader div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    background: red;
   }
   
   .loader div:before {
    left: -13px;
    border-radius: 50% 0 0 50%;
   }
   
   .loader div:after {
    top: -13px;
    border-radius: 50% 50% 0 0;
   }
   
   @keyframes loader45 {
    0% {
     transform: scale(0.95);
    }
   
    5% {
     transform: scale(1.1);
    }
   
    39% {
     transform: scale(0.85);
    }
   
    45% {
     transform: scale(1);
    }
   
    60% {
     transform: scale(0.95);
    }
   
    100% {
     transform: scale(0.9);
    }
   }
   .footer-bottom p {
   position: relative;
   left: 600px;
}

.footer-bottom{
    width: 100%;
    height: 20px;
}

#footer-bottom-name{
    position: relative;
    left: 805px;
    bottom: 75px;
}
.social-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 40px 20px;
}

.social-icons a{
    cursor: pointer;
    color: #ffffff;
}
.footer-container h1::first-letter {
    font-size: 200%;
    /* color: #2596be; */
    color: #234CC2;
    margin-left: 80px;
    margin-top: 100px;
  }   .footer-bottom p {
    position: relative;
    left: 600px;
 }
 
 .footer-bottom{
     width: 100%;
     height: 20px;
 }
 
 #footer-bottom-name{
     position: relative;
     left: 805px;
     bottom: 75px;
 }
 
 
  
  
  
  











